.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Arial;
    font-family: inherit;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 99999;
}

.loginwrap {
    position: absolute;
    left: calc(50% - 480px);
    top: calc(50% - 355px);
    width: 960px;
    height: 710px;
    font-family: inherit;
    z-index: 2;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, .3);
}

.loginwrap .login01,
.loginwrap .login02,
.loginwrap .login03 {
    position: relative;
    padding: 20px 20px 10px;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    z-index: 3;
    background-repeat: no-repeat;
    background-size: auto 436px;
    background-position: 190% 60%;
    background-color: white;
}

.loginwrap .login01 {
    background-image: url(../../img/sosmujer/sosmujer_login01.jpg);
    background-repeat: no-repeat;
    background-size: auto 436px;
    background-position: 190% 60%;
}

.loginwrap .login02 {
    background-image: url(../../img/sosmujer/sosmujer_login02.jpg);
    background-repeat: no-repeat;
    background-size: auto 390px;
    background-position: 100% 50%;
}

.loginwrap .login_logo {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 235px;
}

.login_frase {
    position: relative;
    display: block;
    margin: 5px auto 30px;
    padding: 0;
    width: auto;
    height: 37px;
}

.loginwrap h3 {
    position: relative;
    margin: 15px 20px;
    width: calc(50% - 40px);
    font-family: arial;
    color: rgba(75, 75, 75, 1);
    font-size: 15px;
    line-height: 1.2;
}

.loginwrap p {
    margin: 15px 0;
    font-family: arial;
    color: rgba(255, 148, 155, 1)
}

.loginwrap .login02 h3 {
    margin: 120px 20px 0;
    width: 35%;
    font-size: 20px;
}

.loginwrap ul {
    margin: 10px 0;
    padding: 0px 20px;
    width: 50%;
}

.loginwrap ul li {
    position: relative;
    margin: 0 0 0 25px;
    font-family: arial;
    color: rgba(75, 75, 75, 1);
    font-size: 15px;
    line-height: 1.5;
    list-style: none;
}

.loginwrap ul li:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    padding: 10px;
    background-image: url(../../img/sosmujer/sosmujer_misc_bullet.png);
    background-position: left center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.loginwrap form {
    position: relative;
    display: block;
    margin: 30px 20px;
    width: calc(50% - 40px);
}

.loginwrap input {
    position: relative;
    float: left;
    margin: 0 10px 0 0;
    padding: 12px 5px;
    font-size: large;
    color: rgba(255, 148, 155, 1);
    text-align: center;
    border-radius: 6px;
    border: 2px solid rgba(255, 148, 155, 1);
}

.loginwrap input::-webkit-input-placeholder {
    color: rgba(255, 148, 155, 1);
}

.loginwrap input:-moz-placeholder {
    color: rgba(255, 148, 155, 1);
    opacity: 1;
}

.loginwrap input::-moz-placeholder {
    color: rgba(255, 148, 155, 1);
    opacity: 1;
}

.loginwrap input:-ms-input-placeholder {
    color: rgba(255, 148, 155, 1);
}

.loginwrap .selectwrap {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 148, 155, 1);
    border-radius: 6px;
}

.loginwrap .selectwrap select {
    position: relative;
    padding: 3px 8px;
    border: none;
    color: white;
    background-color: rgba(255, 148, 155, 1);
    font-size: large;
    border-radius: 12px;
    -webkit-appearance: none;
}

.loginwrap input.login.btn.continuar {
    position: relative;
    margin: 20px 0 0 0;
    padding: 12px 32px;
    color: white;
    background-color: rgba(255, 148, 155, 1);
}

.loginwrap .captcha {
    position: relative;
    display: block;
    width: 35%;
    height: 100px;
    margin: 20px 0 0 20px;
}

.loginwrap .clearfix {
    clear: both;
}

.loginwrap .loginsplash {
    position: absolute;
    display: block;
    width: 110px;
    height: 110px;
    left: 47%;
    top: 430px;
    background-image: url(../../img/sosmujer/sosmujer_misc_loginsplash.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.loginwrap .loginsplash span {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    font-family: arial;
    font-size: large;
    color: white;
    transform: translateX(-56%) translateY(-50%);
}

.loginwrap .loginredes {
    position: relative;
    margin: 40px 0 0 20px;
    float: left;
    padding: 0 20px 30px 0;
    background-image: url(../../img/sosmujer/sosmujer_misc_seguinos.png);
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.loginwrap .login03 .loginredes {
    width: 100%;
    margin: 10px 0;
    background-position: 55% 100%;
    background-size: 86px auto;
}

.loginwrap .loginredes a img {
    margin: 0 10px 0 0;
    height: 40px;
    width: auto;
}

.loginwrap .loginapps {
    position: relative;
    display: block;
    margin: 40px 0 20px;
    padding: 0;
    float: right;
}

.loginwrap .loginapps a img {
    margin: 0;
    height: 50px;
    width: auto;
}

.loginwrap .logintyc {
    position: relative;
    display: block;
    margin: 5px 0 0 0;
    padding: 10px 0 0 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 148, 155, 1);
}

.loginwrap .logintyc a {
    font-family: arial;
    font-size: small;
    color: rgba(255, 148, 155, 1);
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .loginwrap {
        left: calc(50% - 380px);
        width: 760px;
    }
    .loginwrap .login_logo {
        width: 190px;
    }
    .loginwrap .login_frase {
        height: 26px;
    }
    .loginwrap .login01 {
        background-size: auto 500px;
        background-position: -1330% 54%;
    }
    .loginwrap .login02 {
        background-size: auto 340px;
        background-position: 107% 50%;
    }
    .loginwrap h3 {
        margin: 15px 10px;
    }
    .loginwrap .login02 h3 {
        margin: 100px 20px 20px 10px;
        width: 30%;
    }
    .loginwrap ul {
        width: 60%;
        padding: 0px 10px;
    }
    .loginwrap form {
        margin: 10px 10px;
    }
    .loginwrap input {
        margin: 0 5px 0 0;
        padding: 10px 0px;
        font-size: medium;
    }
    .loginwrap .selectwrap {
        padding: 9px 5px;
    }
    .loginwrap .loginapps {
        margin: 40px 0 20px 50px;
        float: left;
    }
    .loginwrap .login02 .loginapps {
        margin: 40px 20px 20px 50px;
        float: right;
    }
    .loginwrap .logintyc {
        margin: 35px 0 0 0;
    }
}

@media screen and (max-width: 780px) {
    .loginwrap {
        left: calc(50% - 150px);
        top: calc(50% - 225px);
        width: 300px;
        height: 450px;
    }
    .loginwrap .login01,
    .loginwrap .login02,
    .loginwrap .login03 {
        height: 420px;
        overflow: scroll;
    }
    .loginwrap .login02 {
        background-image: none;
    }
    .loginwrap .login_frase {
        margin: 10px auto;
        height: 12px;
    }
    .loginwrap iframe {
        width: 100%;
        height: 180px;
    }
    .loginwrap h3 {
        display: none;
        margin: 10px 0;
        width: 100%;
    }
    .loginwrap .login02 h3 {
        margin: 20px 0;
        width: 100%;
        text-align: center;
        font-size: medium;
    }
    .loginwrap ul {
        display: none;
        width: 100%;
        padding: 0px 0px;
    }
    .loginwrap ul li {
        margin: 10px 0 0 25px;
        font-size: 13px;
        line-height: 1.2;
    }
    .loginwrap form {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    .loginwrap input {
        margin: 0;
        padding: 10px 0px;
        font-size: smaller;
        float: none;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .loginwrap input.login.btn.continuar {
        margin: 10px auto;
        padding: 10px;
    }
    .loginwrap .loginredes {
        margin: 0 auto;
        padding: 0;
        width: 188px;
        background: none;
        float: none;
    }
    .loginwrap .loginsplash {
        position: relative;
        top: initial;
        left: initial;
        margin: 0 auto;
    }
    .loginwrap .loginredes a img {
        position: relative;
        margin: 0 10px;
    }
    .loginwrap .loginredes a {
        position: relative;
        display: inline-block;
        width: auto;
    }
    .loginwrap .loginapps {
        margin: 20px auto;
        float: none;
        width: 90px;
    }
    .loginwrap input#areareg {
        float: left;
        margin-left: 40px;
    }
    .loginwrap input#telreg {
        float: right;
        margin-right: 40px;
    }
    .loginwrap .login02 input#areareg {
        float: none;
        margin: 0 auto;
    }
    .loginwrap input#telreg:after {
        content: "";
        clear: both;
    }
    .loginwrap .selectwrap {
        padding: 9px 5px;
        margin: 20px auto;
        float: none;
    }
}
